@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pharmacy Web Application </h1>
    <p class="lead">Welcome to the Pharmacy Database Web Aplication!
    </br>This is an easy way to manage the medicines per branches!
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

